.header {
  position: relative;
  &-top {
    padding: 1.1rem 0;
    background: #EFF1F4;

    &_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &_pages {
      display: flex;
      gap: 3.2rem;

      &_link {
        font-size: 1.6rem;
        font-weight: 400;
        transition: color 0.2s;
      }

      &_link:hover {
        color: #4E7CD7;
      }
    }

    &_divider-wrapper {
      width: 0.1rem;
      height: 2.4rem;
    }

    &_contacts {
      display: flex;
      gap: 2.8rem;

      &_link {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.6rem;
        font-weight: 400;
        transition: color 0.2s;

        &_img-wrapper {
          width: 2.4rem;
          height: 2.4rem;

          path {
            transition: fill 0.2s;
          }
        }
      }

      &_link:hover {
        color: #4E7CD7;

        path {
          fill: #4E7CD7;
        }
      }
    }
  }

  &-middle {
    position: relative;
    display: flex;
    align-items: center;

    margin-top: 3rem;

    &_logo {
      margin-right: 7.4rem;
    }

    &_catalog-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      margin-right: 2.4rem;
      width: 14.5rem;
      height: 6.4rem;

      &_img-wrapper {
        width: 2.4rem;
        height: 2.4rem;
      }

      &_text {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.4rem;
      }
    }

    &_form {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 2.4rem;

      &_select-wrapper {
        display: flex;
        align-items: center;
        padding-left: 2.5rem;
        height: 6.4rem;
        border: 1px solid #AFB7C5;
        border-right: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &_divider {
        margin-left: 1.4rem;
        width: 0.1rem;
        height: 2.4rem;
      }

      &_select {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;

        &-btn {
          margin-right: 1.3rem;
          width: 1.4rem;
          height: 0.65rem;
          transition: transform 0.2s;

          &--active {
            transform: rotateX(180deg);
          }
        }
      }

      &_search {
        padding-left: 2.4rem;
        width: 69.9rem;
        height: 6.4rem;
        font-size: 1.6rem;
        font-weight: 400;
        border: 1px solid #AFB7C5;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;

        &-btn {
          display: none;

          @media(max-width: 48em) {
            padding: 2rem;

            img {
              width: 2.8rem;
              height: 2.8rem;
            }
          }
        }
      }
    }

    &_call-btn {
      padding: 2rem 2.4rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem;
    }

    &_dropdown-wrapper {
      position: absolute;
      bottom: -25.6rem;
      left: 0;
      padding: 2rem 0.4rem 2rem 2rem;
      width: 25.6rem;
      height: 25.2rem;
      background: #FFF;
      border-radius: 4px;
      box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.2);
      z-index: 5;

      &_options {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        overflow-y: scroll;
        height: 100%;

        &::-webkit-scrollbar {
          width: 0.4rem;

        }

        &::-webkit-scrollbar-track {
          background: #EFF1F4;
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: #AFB7C5;
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #afb7c5b0;
        }
      }

      &_option {
        color: #808081;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
        cursor: pointer;
        transition: color 0.2s;
      }
    }

    &_search-result {

      &.wrap {
        display: none;
        position: absolute;
        top: 7.5rem;
        left: 41.8rem;
        padding: 4rem 1rem 4rem 4rem;
        width: 80.5rem;
        height: 54.6rem;
        background: #FFF;
        border-radius: 4px;
        z-index: 5;
        box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.20);
      }

      &.scroll {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        padding-right: 2.6rem;
        height: 100%;
        font-size: 1.6rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 0.4rem;

        }

        &::-webkit-scrollbar-track {
          background: #EFF1F4;
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background: #AFB7C5;
          border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #afb7c5b0;
        }
      }

      &.block-title {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.4rem;
      }

      &.popular_list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        color: #808081;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
      }

      &.history_list {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        color: #AFB7C5;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2rem;
      }

      &.history_item {
        display: flex;
        justify-content: space-between;
      }

      &.history_inner {
        display: flex;
        gap: 1.3rem;
      }

      &.link_img-wrapper {
        width: 2.4rem;
        height: 2.4rem;
      }

      &.brand_list {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
      }

      &.brand_item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 12rem;
        height: 5rem;
        border: 1px solid #EFF1F4;
        border-radius: 4px;
      }

      &.brand_link {
        display: block;
        width: 10.7rem;
        height: 2.8rem;
      }
    }

    &_catalog{
      &.catalog-wrapper {
        display: flex;
        justify-content: space-between;
        position: absolute;
        background: #FFF;
        top: 7.5rem;
        left: -9999px;
        padding: 3.5rem 6.4rem 10.3rem 15rem;
        width: 170.7rem;
        height: 92.6rem;
        z-index: 5;
        overflow: hidden;
        transition: left 0.2s, box-shadow 1s;

        &.catalog--active {
          left: -14.2rem;
          box-shadow: 1000px 0 0 0 rgba(60, 60, 60, 0.50);;
        }
      }
      &.main-categories_item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 1.6rem;
        padding-left: 1.6rem;
        height: 5.6rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.4rem;
        border-radius: 4px;
        transition: background-color 0.2s, color 0.2s;
  
      
        &.arrow_wrapper {
          
          img {
            visibility: hidden;
            width: 2.4rem;
            height: 2.4rem;
            // transition: visibility 0.2s;
          }
          
        }
        &:hover {
          color: #4E7CD7;
          background: #EFF1F4;
  
          img {
            visibility: visible;
          }
        }
        &.item--active {
          color: #4E7CD7;
          background: #EFF1F4;

          img {
            visibility: visible;
          }
        }

      }
      &.brands-list {
        display: flex;
        flex-direction: column;
        gap: 7.1rem;
      }
      &.brands-link {
        display: block;
        width: 22.6rem;
        height: 6.6rem;
      }

      &.sub-categories_wrap {
        display: none;

        &.active {
          display: block;
        }
      }

      &.sub-categories_list {
        display: grid;
        grid-template-columns: repeat(3, 22rem);
        gap: 5.1rem 6rem;
      }

      &.sub-categories_item {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
      }

      &.sub-categories_title {
        color: #3C3C3C;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 2.4rem;
      }

      &.sub-categories_inner {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        color: #808081;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.4rem;
      }

      &.sub-categories_all-link {
        color: #4E7CD7;
      }

      &.sub-categories_solo {
        display: flex;
        flex-direction: column;
        gap: 1.9rem;
      }

      &.categories_main-link {
        position: absolute;
        right: 5.1rem;
        bottom: 0;
        color: #4E7CD7;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
      }
    } 

    &_catalog_left {
      border-right: 1px solid #AFB7C5;
      width: 36rem;
    }

    &_catalog_middle {
      position: relative;
      padding: 0 4rem 0 ;
    }
    
    &_catalog_right {
      padding-left: 4rem;
      border-left: 1px solid #AFB7C5;
    }
  }

  &-bottom {
    margin-top: 1.8rem;
    margin-bottom: 3rem;

    &-swiper {

      .header-bottom-swiper-slide {
        padding: 1.4rem 2rem;
        width: fit-content;
        border-radius: 4px;
        transition: background-color 0.2s;

        &_link {
          font-size: 1.6rem;
          white-space: nowrap;
        }

        &:hover {
          background: #EFF1F4;
        }
      }

      &-button-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 6rem;
        width: 6rem;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 0.9rem;
          height: 1.9rem;
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        height: 100%;
        width: 30rem;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 15%, #fff 80%);
      }
    }


  }


  .disabled {
    display: none;
  }

  &--desk {
    display: block;

    @media (max-width: 48em) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: 48em) {
      display: block;
    }
  }
}

.logo-link {
  &_img-container {
    width: 19.9rem;
    height: 6rem;
  }
}

.show {
  display: block !important;
}
