.range-slider.noUi-target {
    border: none;
    border-radius: unset;
    box-shadow: none;
    height: 0.2rem;
    background-color: #afb7c5;
}

.range-slider {
    .noUi-connect {
        background: #ae47ff;
    }

    .noUi-origin .noUi-handle {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 100%;
        border: 0.5rem solid #eff1f4;
        cursor: pointer;
        right: -1rem;
        top: -1rem;
        background: #ae47ff;
        box-shadow: unset;

        &::before,
        &::after {
            content: none;
        }
    }
}


.range-inputs{
    margin-top: 2.3rem;
    display: flex;
    justify-content: space-between;

    color: #808081;
    font-size: 1.8rem;
    line-height: 133.333%;
    white-space: nowrap;
    gap: 1rem;
    margin-top: 2.3rem;

    @media (max-width: 48em) {
        font-size: 3.2rem;
        line-height: 125%;
        margin-top: 4.2rem;
    }

    .range-input{
        display: flex;
        gap: 0.4rem;
        width: 12rem;

        input{
            width: 100%;
        }
    }
}
