.about {
    margin: unset;
    overflow-x: clip;

    &__hero {
        position: relative;
        margin-bottom: 21.4rem;

        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
            margin-bottom: 15.6rem;
        }

        &__text {
            @media (max-width: 48em) {
                order: 3;
            }
        }

        &__images {
            @media (max-width: 48em) {
                order: 2;
                margin-bottom: 4rem;
            }
        }

        &__img {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.4rem;

                @media (max-width: 48em) {
                    border-radius: 0.8rem;
                }
            }
        }

        &__img--left {
            position: absolute;
            top: 0;
            right: 41rem;
            width: 39.2rem;
            height: 41.9rem;

            img {
                object-position: 75%;
            }

            @media (max-width: 48em) {
                position: static;
                width: 100%;
                height: 41rem;
            }
        }

        &__img--right {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 39rem;
            height: 58.8rem;

            @media (max-width: 48em) {
                display: none;
            }
        }
    }

    &__title {
        font-size: 4rem;
        font-weight: 500;
        line-height: 115%;
        margin-bottom: 6rem;

        @media (max-width: 48em) {
            order: 1;
            font-size: 4.8rem;
            line-height: 116.667%;
        }
    }

    &__desc {
        color: #808081;
        font-size: 1.8rem;
        line-height: 133.333%;
        max-width: 66.3rem;
        margin-bottom: 8rem;

        @media (max-width: 48em) {
            font-size: 2.4rem;
            line-height: 142.857%;
            margin-bottom: 4rem;
        }

        p + p {
            margin-top: 2rem;

            @media (max-width: 48em) {
                margin-top: 2.4rem;
            }
        }
    }

    &__service-cards {
        display: flex;
        gap: 6.2rem;

        @media (max-width: 48em) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 1.6rem;
            grid-row-gap: 4rem;
        }

        .service-card {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            height: 15.8rem;
            width: 25.3rem;

            @media (max-width: 48em) {
                height: 21.2rem;
                width: 100%;
            }

            &__img {
                width: 7rem;
                height: 7rem;

                @media (max-width: 48em) {
                    height: 10rem;
                    width: 10rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &__title {
                font-size: 1.8rem;
                line-height: 133.333%;
                font-weight: 600;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media (max-width: 48em) {
                    font-size: 2.4rem;
                    font-weight: 500;
                }
            }
        }
    }

    &__service {
        background-color: #eff1f4;
        border-radius: 0.4rem;
        padding: 5.2rem 8.8rem;
        margin-bottom: 13rem;
        position: relative;

        @media (max-width: 48em) {
            background-color: unset;
            padding: unset;
            margin-bottom: 16rem;
        }

        &__text {
            max-width: 83.9rem;

            @media (max-width: 48em) {
                max-width: unset;
            }
        }

        &__title {
            font-size: 4rem;
            line-height: 115%;
            font-weight: 500;
            margin-bottom: 3rem;

            @media (max-width: 48em) {
                margin-bottom: 4rem;
                line-height: 120%;
                font-weight: 600;
            }
        }

        &__desc {
            font-size: 1.8rem;
            line-height: 133.333%;
            color: #808081;
            margin-bottom: 4rem;

            @media (max-width: 48em) {
                font-size: 2.4rem;
                margin-bottom: 12.4rem;
            }
        }

        &__img {
            position: absolute;
            bottom: 0;
            right: 6.2rem;
            width: 52.2rem;
            height: 48.4rem;

            @media (max-width: 48em) {
                position: static;
                background-color: #eff1f4;
                border-radius: 0.8rem;
                width: 100%;
                height: 43.6rem;
            }

            .image {
                width: 100%;
                height: 100%;

                @media (max-width: 48em) {
                    position: absolute;
                    bottom: 0;
                    right: 6.2rem;
                    width: 56rem;
                    height: 52rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    &__approach {
        margin-bottom: 13rem;

        @media (max-width: 48em) {
            margin-bottom: 16rem;
        }

        &__title {
            font-size: 4rem;
            line-height: 115%;
            font-weight: 500;
            text-align: center;
            margin: 0 auto 2.4rem;

            @media (max-width: 48em) {
                font-size: 4.8rem;
                line-height: 116.667%;
                text-align: left;
                margin: unset;
                margin-bottom: 6rem;
            }
        }

        &__desc {
            line-height: 133.333%;
            font-size: 1.8rem;
            text-align: center;
            max-width: 66rem;
            margin: 0 auto;
            margin-bottom: 6rem;

            @media (max-width: 48em) {
                font-size: 2.4rem;
                line-height: 142.857%;
                text-align: left;
                margin: unset;
                margin-bottom: 2rem;
            }
        }

        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 48em) {
                flex-direction: column;
            }
        }

        &__benefits {
            max-width: 38.7rem;
            display: flex;
            flex-direction: column;
            gap: 6rem;

            &:last-child {
                @media (max-width: 48em) {
                    margin-top: 3.2rem;
                }
            }

            @media (max-width: 48em) {
                max-width: unset;
                gap: 3.2rem;
            }
        }

        &__benefit {
            .title {
                margin-bottom: 1.2rem;
                font-size: 2.4rem;
                line-height: 116.667%;

                @media (max-width: 48em) {
                    font-size: 3.2rem;
                    margin-bottom: 0.8rem;
                    line-height: 125%;
                }
            }

            .desc {
                color: #808081;
                font-size: 1.8rem;
                line-height: 133.333%;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @media (max-width: 48em) {
                    display: block;
                    font-size: 2.4rem;
                }
            }
        }

        &__img {
            width: 52.2rem;
            height: 43rem;
            border-radius: 0.4rem;
            overflow: hidden;

            @media (max-width: 48em) {
                width: 100%;
                height: 65.8rem;
                order: -1;
                border-radius: 0.8rem;
                margin-bottom: 2.2rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__partners {
        margin-bottom: 13rem;

        @media (max-width: 48em) {
            margin-bottom: 16rem;
        }

        &__title {
            font-size: 4rem;
            line-height: 115%;
            font-weight: 500;
            margin-bottom: 5rem;

            @media (max-width: 48em) {
                font-size: 4.8rem;
                line-height: 116.667%;
                margin: unset;
                margin-bottom: 6rem;
            }
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto;
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;

            @media (max-width: 48em) {
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1.6rem;
                grid-row-gap: 1.6rem;
            }
        }

        .partners-card {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25.3rem;
            height: 14.9rem;
            border: 0.1rem solid #eff1f4;
            border-radius: 0.4rem;

            @media (max-width: 48em) {
                width: 100%;
                height: 19.8rem;
                border: 0.2rem solid #eff1f4;
                border-radius: 0.8rem;
            }

            &__img {
                width: 17.5rem;

                @media (max-width: 48em) {
                    width: 22rem;
                }
            }

            img {
                filter: grayscale(1);
                transition: filter 0.2s;
            }

            &:hover {
                img {
                    filter: grayscale(0);
                }
            }
        }

        .partners-card--big {
            cursor: default;
            grid-column: auto / span 2;
            width: 52.7rem;
            height: 14.9rem;
            border-radius: 0.4rem;

            .partners-card__img {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    &__clients {
        margin-bottom: 13rem;

        .clients__additional {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-column-gap: 2rem;
            grid-row-gap: 2rem;

            @media (max-width: 48em) {
                margin-top: 1.6rem;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 1.6rem;
                grid-row-gap: 1.6rem;
            }
        }
    }

    .contact {
        @media (max-width: 48em) {
            margin: 0 -3.2rem;
        }
    }

    .load-more-link {
        margin-top: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
