.catalogue {
    margin-bottom: 13rem;

    @media (max-width: 48em) {
        margin-bottom: 16rem;
    }

    &__title {
        font-size: 4rem;
        line-height: 115%;
        font-weight: 500;

        @media (max-width: 48em) {
            font-size: 4.8rem;
            line-height: 116.667%;
        }
    }

    &__category-slider {
        margin-left: -4rem !important;
        padding: 5rem 0 3.6rem 4rem !important;
        position: relative;

        @media (max-width: 48em) {
            padding: 4rem 3.2rem 6rem 3.2rem !important;
            margin-left: -3.2rem !important;
            margin-right: -3.2rem !important;
        }

        .swiper-slide {
            width: 25.4rem !important;
            height: 10.8rem;
            background-color: #fff;
            box-shadow: 0 0.4rem 6rem 0 rgba(175, 183, 197, 0.2);

            padding: 1.2rem 0;
            position: relative;
            border-radius: 0.4rem;
            border: 0.1rem solid transparent;
            transition: border 0.2s ease;

            @media (max-width: 48em) {
                width: 40rem !important;
                height: 17rem;
                background-color: #fff;
                padding: 1.8rem 0;
                border-radius: 0.8rem;
                border: 0.2rem solid transparent;
            }

            &:hover {
                border: 0.2rem solid var(--Blue, #4e7cd7);
            }

            &__img {
                width: 7rem;
                height: 6rem;
                margin: 0 auto;

                @media (max-width: 48em) {
                    width: 11.6rem;
                    height: 10.4rem;
                }
                img {
                    object-fit: contain;
                }
            }

            &__title {
                font-size: 1.6rem;
                line-height: 125%;
                font-weight: 500;
                white-space: nowrap;

                position: absolute;
                top: 7.6rem;
                left: 50%;
                transform: translateX(-50%);

                @media (max-width: 48em) {
                    font-size: 2.8rem;
                    line-height: 142.857%;
                    font-weight: 400;
                    top: 12rem;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &::after {
            z-index: 1;
            position: absolute;
            content: "";
            right: -15.9rem;
            top: 0;
            bottom: 0;
            width: 22.5rem;
            width: 41rem;
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.7) 55%, #fff 111%);
            pointer-events: none;

            @media (max-width: 48em) {
                content: none;
            }
        }
    }

    .swiper-button-next {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 6rem;
        width: 6rem;
        z-index: 2;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 0.9rem;
            height: 1.9rem;
        }

        @media (max-width: 48em) {
            display: none;
        }
    }

    &__features {
        display: flex;
        align-items: center;
        gap: 5.5rem;
        margin-bottom: 3.6rem;

        &__list {
            display: flex;
            gap: 1.2rem;
        }

        &__item {
            padding: 1.4rem 2rem;
            border-radius: 0.4rem;
            text-align: center;
            white-space: nowrap;
            border-radius: 0.4rem;
            border: 0.1rem solid #eff1f4;
            font-size: 1.6rem;
            line-height: 125%;
            font-weight: 500;
        }

        .btn {
            padding: 1.2rem 2.4rem;
            color: #4e7cd7;
        }
    }

    &__content {
        display: flex;
        gap: 2rem;
    }

    &__filter {
        width: 39rem;

        @media (max-width: 48em) {
            display: none;
        }

        .filter {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5.6rem;

            &__item {
                .title {
                    margin-bottom: 2rem;
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 133.333%;
                }
            }

            &__inputs {
                label {
                    padding: 0.8rem 0;
                }
            }

            &__btns {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;

                .btn {
                    width: 25.3rem;
                    height: 6rem;
                }
            }
        }
    }

    &__main {
        flex: 1;

        @media (max-width: 48em) {
            // margin: 0 -3.2rem;
        }
    }

    &__ad {
        background-color: #eff1f4;
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        gap: 11.1rem;
        padding: 2.1rem 1.7rem 2rem 7rem;
        margin-bottom: 4rem;

        &__info {
            width: 57.7rem;
            .title {
                margin-bottom: 1.6rem;
                font-size: 2.8rem;
                font-weight: 700;
            }

            .desc {
                margin-bottom: 3rem;
                font-size: 1.8rem;
                line-height: 133.333%;
                color: #808081;
            }
        }

        &__img {
            width: 43.6rem;
            height: 29.9rem;
        }
    }

    &__ad--mobile {
        margin-top: 6rem;
        background-color: #eff1f4;
        border-radius: 0.8rem;
        display: flex;
        gap: 4rem;
        align-items: center;
        padding: 4rem 3.2rem;
        width: 100%;

        &__title {
            font-size: 3.2rem;
            line-height: 125%;
            font-weight: 600;
            width: 41.4rem;
        }

        &__img {
            width: 17rem;
            height: 13.38rem;

            img {
                height: 100%;
            }
        }
    }

    &__sorting {
        margin-bottom: 2.6rem;
        position: relative;

        @media (max-width: 48em) {
            margin-bottom: 4rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &.open {
            .catalogue__sorting__top {
                svg {
                    transform: rotate(180deg);
                }
            }
        }

        &__top {
            display: flex;
            gap: 1.2rem;
            align-items: center;
            cursor: pointer;

            @media (max-width: 48em) {
                gap: 2.4rem;
            }

            span {
                font-size: 1.8rem;
                line-height: 133.333%;
                color: #3c3c3c;
                white-space: nowrap;

                @media (max-width: 48em) {
                    font-size: 2.8rem;
                    line-height: 142.857%;
                }
            }

            svg {
                width: 2.4rem;
                height: 2.4rem;
                transition: transform 0.2s ease;

                @media (max-width: 48em) {
                    width: 4rem;
                    height: 4rem;
                }
            }
        }

        &__dropdown {
            display: none;
            z-index: 2;
            background-color: #fff;
            box-shadow: 0 0 0.8rem 0.4rem #00000023;
            border-radius: 0.4rem;
            padding: 0 1rem 1rem;
            position: absolute;
            top: calc(100% + 1rem);
            left: 0;

            .option {
                cursor: pointer;
                font-size: 1.8rem;
                line-height: 133.333%;
                color: #3c3c3c;
                white-space: nowrap;
                border-bottom: 0.1rem solid #d7d7d7;
                padding: 1rem 0;
            }
        }

        .filter-widget {
            svg {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    &__brands-slider {
        width: 121rem;
        position: relative;
        padding: 0.9rem 0;
        margin-bottom: 1.6rem;

        .swiper-slide {
            padding: 1.4rem 2rem;
            font-size: 1.6rem;
            line-height: 125%;
            font-weight: 500;
            background-color: #eff1f4;
            border-radius: 0.4rem;
            border: 0.1rem solid transparent;
            width: fit-content;
            transition: border 0.2s ease;

            &:hover {
                border: 0.1rem solid #4e7cd7;
                color: #4e7cd7;
                font-weight: 700;
            }
        }

        &::after {
            z-index: 1;
            position: absolute;
            content: "";
            right: -15.9rem;
            top: 0;
            bottom: 0;
            width: 22.5rem;
            width: 41rem;
            background: linear-gradient(to right, rgb(255 255 255 / 0%) 0, rgb(255 255 255) 40%, #fff 110%);
            pointer-events: none;
        }
    }

    &__features-slider {
        margin: 0 -3.2rem 4rem -3.2rem !important;
        padding: 0 3.2rem !important;

        .swiper-wrapper {
            width: 65.6rem;
        }

        &__item {
            font-size: 2.8rem;
            line-height: 142.857%;
            font-weight: 500;
        }

        .swiper-slide {
            border-radius: 0.8rem;
            border: 0.2rem solid #eff1f4;
            width: fit-content;
            transition: border 0.2s ease;
            padding: 1.6rem 3.2rem;

            &:hover {
                border: 0.2rem solid #4e7cd7;
                color: #4e7cd7;
                font-weight: 700;
            }
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 2rem;

        @media (max-width: 48em) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-column-gap: 1.6rem;
            grid-row-gap: 1.6rem;
        }
    }

    .cards-page {
        display: none;
    }

    .cards-page.active {
        display: block;
    }

    .cards-pages-controls {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.4rem;

        &__btn {
            width: 6rem;
            height: 6rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 0.1rem solid #8ad74e;
            background-color: #8ad74e;
            border-radius: 0.2rem;

            .icon {
                width: 3rem;
                height: 3rem;
            }

            svg {
                width: 0.9rem;
                height: 1.9rem;

                path {
                    fill: #fff;
                }
            }

            &:disabled {
                background-color: #fff;

                svg {
                    path {
                        fill: #8ad74e;
                    }
                }
            }
        }
    }

    .pagination {
        display: flex;
        gap: 0.4rem;
    }

    .pagination button {
        cursor: pointer;
        font-size: 2.4rem;
        line-height: 116.667%;
        color: rgba(175, 183, 197, 0.6);

        &.active {
            color: #8ad74e;
            font-weight: 600;
        }
    }
}

.price-input {
    display: flex;
    justify-content: space-between;
    color: #808081;
    font-size: 1.8rem;
    line-height: 133.333%;
    white-space: nowrap;
    gap: 1rem;
    margin-top: 2.3rem;
}

.slider {
    height: 0.2rem;
    background: #afb7c5;
    position: relative;

    .progress {
        height: 0.2rem;
        background: #ae47ff;
        position: absolute;
        left: 25%;
        right: 25%;
    }
}

.field input {
    -moz-appearance: textfield;
    max-width: 5rem;
}

.range-input {
    position: relative;

    input {
        position: absolute;
        top: -0.3rem;
        height: 0.3rem;
        width: 100%;
        -webkit-appearance: none;
        background: none;
        pointer-events: none;
    }
}

input[type="range"]::-webkit-slider-thumb {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 100%;
    background: #ae47ff;
    border: 0.5rem solid #eff1f4;
    pointer-events: auto;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 100%;
    background: #ae47ff;
    border: 0.5rem solid #eff1f4;
    pointer-events: auto;
    -moz-appearance: none;
}
