.hero {


  margin-top: 0;

  .hero-top {
      display: flex;
      gap: 2rem;

      @media (max-width: 48em) {
          flex-direction: column;
          gap: 1.6rem;
      }

      &__big-banner {
          position: relative;
          padding: 15.7rem 0 9.7rem 5rem;
          width: 107.4rem;
          height: 51rem;
          background: radial-gradient(124.62% 80.97% at 31.56% 47.16%, rgba(255, 255, 255, 0.00) 0%, rgba(175, 183, 197, 0.20) 77.19%), #EFF1F4;

          @media (max-width: 48em) {
              padding: 6.4rem 0 0 4rem;
              width: 68.6rem;
              height: 47.2rem;
          }

          .big-banner__top-text {
              position: inherit;
              margin-bottom: 1.6rem;
              width: 50.3rem;
              font-size: 4rem;
              line-height: 4.6rem;
              font-weight: 500;
              z-index: 2;

              @media (max-width: 48em) {
                  width: 59.2rem;
                  font-size: 4.8rem;
                  line-height: 5.6rem;
              }
          }

          .big-banner__bottom-text {
              position: inherit;
              margin-bottom: 4rem;
              width: 40.5rem;
              font-size: 1.8rem;
              line-height: 2.4rem;
              font-weight: 400;
              z-index: 2;

              @media (max-width: 48em) {
                  margin-bottom: 6.4rem;
                  width: 48.4rem;
                  font-size: 2.8rem;
                  line-height: 4rem;
              }
          }

          .big-banner__btn {
              position: inherit;
              padding: 1.8rem 2.4rem;
              font-size: 1.8rem;
              font-weight: 600;
              z-index: 2;

              @media (max-width: 48em) {
                  padding: 2rem 3.8rem;
                  font-size: 2.8rem;
                  line-height: 4rem;
              }
          }

          .big-banner__img-wrapper {
              position: absolute;
              top: 0;
              right: 0;
              height: 51rem;

              img {
                  object-fit: fill;
                  height: 100%;
              }

              @media (max-width: 48em) {
                  width: 38.2rem;
                  height: 31rem;
                  top: auto;
                  bottom: 0;
              }
          }
      }

      &__small-banners-group {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 2rem;

          .small-banner {
              padding: 2rem;
              width: 25.3rem;
              height: 24.5rem;
              border: 1px solid #EFF1F4;
              border-radius: 4px;
              transition: background-color 0.2s;

              @media (max-width: 48em) {
                  padding: 4rem 4rem 3.2rem 4rem;
                  width: 33.6rem;
                  height: 38rem;
              }

              &__img-wrapper {
                  margin-bottom: 4rem;
                  width: 5.7rem;
                  height: 5.7rem;

                  @media (max-width: 48em) {
                      margin-bottom: 3.6rem;
                      width: 6.4rem;
                      height: 6.4rem;
                  }
              }

              &__top-text {
                  margin-bottom: 1.2rem;
                  font-size: 1.8rem;
                  font-weight: 600;

                  @media (max-width: 48em) {
                      font-size: 3.2rem;
                  }
              }

              &__bottom-text {
                  color: #808081;
                  font-size: 1.6rem;
                  font-weight: 400;
                  line-height: 2rem;

                  @media (max-width: 48em) {
                      font-size: 2.4rem;
                      line-height: 3.2rem;
                  }
              }
          }

          .small-banner:hover {
              background-color: #EFF1F4;

          }
      }
  }

  .hero-bottom {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      margin-top: 2rem;

      @media (max-width: 48em) {
          margin-top: 1.6rem;
          gap: 1.6rem 1.4rem;
      }

      &__brand-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 25.3rem;
          height: 14.9rem;
          border: 1px solid #EFF1F4;
          border-radius: 0.4rem;

          @media (max-width: 48em) {
              width: 21rem;
              max-width: 22rem;
              height: 15.4rem;
          }

          .brand-link__img-wrapper {
              width: 17.5rem;

              @media (max-width: 48em) {
                  width: 17.4rem;

              }

              img {
                  filter: grayscale(1);
                  transition: filter 0.2s;
              }
          }

      }

      &__brand-link:hover {
          img {
              filter: grayscale(0);
          }
      }

      &__all-brands-link {
          width: 25.3rem;
          height: 14.9rem;
          display: flex !important;

          @media (max-width: 48em) {
              max-width: 22rem;
              height: 15.4rem;
          }
      }

  }
}

.about {

  .about-content__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 4.2rem 1.9rem;

      @media (max-width: 48em) {
          flex-direction: column;
          flex-wrap: nowrap;
      }

      &__link {
          display: flex;
          align-items: center;

          .wrapper__link__img-wrapper__background {
              padding: 2rem 2rem 2.1rem 2.1rem;
              width: fit-content;
              border-radius: 0.4rem;

              @media (max-width: 48em) {
                  padding: 2.8rem;
              }

              .wrapper__link__img-wrapper {
                  width: 4.8rem;
                  height: 4.8rem;

                  @media (max-width: 48em) {
                      width: 6.4rem;
                      height: 6.4rem;
                  }
              }
          }

          .wrapper__link__img-wrapper__background_orange {
              background: #FFC700;
          }

          .wrapper__link__img-wrapper__background_green {
              background: #8AD74E;
          }

          .wrapper__link__img-wrapper__background_violet {
              background: #AE47FF;
          }

          .wrapper__link__img-wrapper__background_blue {
              background: #4E7CD7;
          }

          .wrapper__link__text-wrapper {
              display: flex;
              align-items: center;
              padding-left: 1.6rem;
              width: 43.8rem;
              height: 8rem;
              background: #FFFFFF;
              box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.25);

              @media (max-width: 48em) {
                  padding-right: 2.8rem;
                  padding-left: 3.2rem;
                  width: 56.6rem;
                  height: 11.2rem;
              }

              .link__text-wrapper__text {
                  text-wrap: pretty;
                  font-size: 1.8rem;
                  font-weight: 400;
                  line-height: 2.4rem;

                  @media (max-width: 48em) {
                      font-size: 3.2rem;
                      line-height: 4rem;
                  }
              }
          }
      }

      @media (max-width: 48em) {
          &__link:nth-child(1) {
              order: 1;
          }

          &__link:nth-child(2) {
              order: 3;
          }

          &__link:nth-child(3) {
              order: 5;
          }

          &__link:nth-child(4) {
              order: 2;
          }

          &__link:nth-child(5) {
              order: 4;
          }

          &__link:nth-child(6) {
              order: 6;
          }
      }
  }
}

.special {
  &__main {
      flex: 1;

      &__cards {
          display: flex;
          gap: 1.9rem;
      }
  }


}

.special,
.new {

  .cards-pages-controls {
      margin-top: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2.4rem;

      @media (max-width: 48em) {
          display: none;
      }

      &__btn {
          width: 6rem;
          height: 6rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border: 0.1rem solid #8ad74e;
          background-color: #8ad74e;
          border-radius: 0.2rem;

          .icon {
              width: 3rem;
              height: 3rem;
          }

          svg {
              width: 0.9rem;
              height: 1.9rem;

              path {
                  fill: #fff;
              }
          }

          &:disabled {
              background-color: #fff;

              svg {
                  path {
                      fill: #8ad74e;
                  }
              }
          }
      }
  }
  .icon--big {
      display: none;

      @media (max-width: 48em) {
          display: flex;
      }
  }
}

.special__main__cards {
  @media (max-width: 48em) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.6rem;
  }

  button {

      span {

          @media (max-width: 48em) {
              display: none;
          }
      }
  }
}

.target {

  .target-content {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;

      &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-left: 6rem;
          width: 52.6rem;
          box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.20);

          @media (max-width: 48em) {
              padding-left: 4rem;
              width: 68.6rem;
          }

          &__text {
              font-size: 2.8rem;
              font-weight: 700;

              @media (max-width: 48em) {
                  font-size: 4rem;
                  font-weight: 600;
              }
          }

          &__img-wrapper {
              width: 19.2rem;
              height: 18.7rem;

              @media (max-width: 48em) {
                  width: 24rem;
                  height: 21.6rem;
              }
          }
      }
  }
}

.banner {

  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5rem;
      height: 42.8rem;
      background: url(../../assets/images/main/banner-section.webp);
      background-size: 100% 100%;

      .banner-text {
          max-width: 77.5rem;
          font-size: 4rem;
          font-weight: 500;
          line-height: 4.6rem;
          text-align: center;

          br {
              display: none;
          }

          @media (max-width: 48em) {
              width: 62.2rem;
              font-size: 4rem;
              font-weight: 600;

              br {
                  display: inline;
              }
          }
      }

      .banner-btn {
          padding: 1.8rem 2.4rem;
          font-size: 1.8rem;

          @media (max-width: 48em) {
              padding: 2rem 3.8rem;
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 4rem;
          }
      }
  }
}

.recommend {
  &-content {
      display: flex;
      gap: 2rem;

      @media (max-width: 48em) {
          flex-direction: column;
      }
  }

  .recommend-content__blocks-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;

      @media (max-width: 48em) {
          display: flex;
          flex-direction: column;
          gap: 1.6rem;
      }
  }

  .recommend-content__block__brand {
      color: #4E7CD7;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem;

      @media (max-width: 48em) {
          font-size: 3.2rem;
          line-height: 4rem;
      }
  }

  .recommend-content__block__text-block__title {
      margin-bottom: 0.8rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 2.4rem;

      @media (max-width: 48em) {
          font-size: 3.2rem;
          line-height: 4rem;
      }
  }

  .recommend-content__block_big {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      width: 39rem;
      height: 49.2rem;
      box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.20);

      @media (max-width: 48em) {
          position: relative;
          padding: 2rem 2rem 3.2rem 2rem;
          width: 68.6rem;
          height: 34.8rem;
      }

      .recommend-content__block__text-block__text {
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
      }

      .recommend-content__block__img-wrapper {
          width: 35rem;
          height: 20.4rem;

          @media (max-width: 48em) {
              position: absolute;
              top: 2rem;
              right: 2rem;
              width: 21.4rem;
              height: 12.4rem;
              margin: 0;
          }
      }

  }

  .recommend-content__block_big:first-child {

      .recommend-content__block__img-wrapper {
          margin-top: 2rem;
      }
  }

  .recommend-content__block_big:last-child {

      .recommend-content__block__img-wrapper {
          margin-bottom: 2rem;
      }
  }

  .recommend-content__block {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 2rem;
      width: 39rem;
      height: 23.6rem;
      box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.20);

      @media (max-width: 48em) {
          padding: 2rem 2rem 4rem 2rem;
          width: 68.6rem;
          height: 34.8rem;
      }

      .recommend-content__block__img-wrapper {
          position: absolute;
          top: 2rem;
          right: 2rem;
          width: 9.7rem;
          height: 7.6rem;

          @media (max-width: 48em) {
              top: 2rem;
              right: 2rem;
              width: 21.4rem;
              height: 12.4rem;
          }
      }

      .recommend-content__block__text-block__text {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
      }
  }

  .recommend-content__block__text-block__text {
      color: #808081;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.4rem;

      @media (max-width: 48em) {
          font-size: 2.8rem;
          line-height: 4rem;
      }

  }
}

.company {
  .container {
      display: flex;
      gap: 15.6rem;

      @media (max-width: 48em) {
          flex-direction: column;
          gap: 6rem;
      }

      .company__left {
          width: 52.7rem;

          @media (max-width: 48em) {
              width: 100%;
          }

          .section-title-btn__title {
              margin-bottom: 4rem;

              @media (max-width: 48em) {
                  margin-bottom: 5rem;
              }
          }

          .company__img-wrapper {
              margin-top: 10rem;
              width: 52.7rem;
              height: 30.1rem;
              border-radius: 0.4rem;

              img {
                  object-fit: cover;
              }

              @media (max-width: 48em) {
                  width: 68.6rem;
                  height: 38rem;
                  margin-top: 4rem;
              }
          }
      }

      .company__text {
          color: #808081;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.4rem;

          @media (max-width: 48em) {
              font-size: 3.2rem;
              line-height: 4rem;
              width: fit-content;
          }
      }

      .company__right {

          @media (max-width: 48em) {
              display: flex;
              flex-direction: column-reverse;
              gap: 4rem;
          }

          .company__img-wrapper {
              margin-bottom: 3rem;
              width: 93.7rem;
              height: 38.1rem;
              border-radius: 0.4rem;

              img {
                  object-fit: cover;
                  height: 100%;
              }

              @media (max-width: 48em) {
                  width: 68.6rem;
                  height: 38rem;
              }
          }

          .company__text {
              width: 80rem;

              @media (max-width: 48em) {
                  width: fit-content;
              }
          }

          .company__right__btn {
              margin-top: 4rem;
              padding: 1.8rem 2.4rem;
              font-weight: 600;
              font-size: 1.8rem;

              @media (max-width: 48em) {
                  display: none;
              }
          }
      }
  }
}

.consult {
  .container {
      display: flex;
      position: relative;
      justify-content: space-between;

      @media (max-width: 48em) {
          flex-direction: column;
          gap: 27.4rem;
          padding: 0;
      }
  }

  &__left {

      @media (max-width: 48em) {
          padding: 3.2rem;
      }

      .section-title-btn__title {
          margin-bottom: 5rem;
          font-size: 2.8rem;
          font-weight: 600;
          line-height: 4.6rem;

          @media (max-width: 48em) {
              margin-bottom: 6rem;
          }
      }

      .consult__left__form {
          display: flex;
          flex-direction: column;
          width: 52.7rem;

          @media (max-width: 48em) {
              width: auto;
          }

          &__name {
              margin-bottom: 3.2rem;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 2.4rem;

              @media (max-width: 48em) {
                  font-size: 2.8rem;
                  line-height: 4rem;
              }
          }

          &__input {
              margin-bottom: 2rem;
              height: 5.6rem;
              padding: 0 1.6rem;
              background: #EFF1F4;
              border-radius: 0.4rem;
              font-size: 1.8rem;
              font-weight: 400;
              color: #808081;

              @media (max-width: 48em) {
                  height: 8.8rem;
                  padding: 0 3.2rem;
                  font-size: 2.8rem;
              }
          }


          &__input::placeholder {
              color: #AFB7C5;
              font-size: 1.8rem;

              @media (max-width: 48em) {
                  font-size: 2.8rem;
              }
          }

          .btn_blue {
              margin-top: 2rem;
              padding: 1.8rem 3.1rem;
              font-size: 1.8rem;
              font-weight: 600;
              width: fit-content;

              @media (max-width: 48em) {
                  padding: 2rem 3.8rem;
                  font-size: 2.8rem;
                  line-height: 4rem;
              }
          }
      }
  }

  &__middle {
      z-index: 2;
      position: absolute;
      top: 5.5rem;
      right: 41rem;
      padding: 4rem;
      background: #FFFFFF;
      border-radius: 4px;
      box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.20);

      @media (max-width: 48em) {
          top: auto;
          bottom: 29.6rem;
          right: 3.2rem;
          padding: 3.2rem;
      }

      &__contacts {

          @media (max-width: 48em) {
              width: 62.2rem;
              height: 40.4rem;
          }

          .middle__contacts__title {
              margin-bottom: 4rem;
              font-size: 2.4rem;
              font-weight: 400;

              @media (max-width: 48em) {
                  margin-bottom: 4rem;
                  font-size: 3.2rem;
                  line-height: 4rem;
              }
          }

          .middle__contacts__links {

              display: flex;
              flex-direction: column;
              gap: 2.8rem;

              @media (max-width: 48em) {
                  gap: 3.2rem;
              }

              .contacts__link {

                  display: flex;
                  gap: 1.6rem;

                  &__img-wrapper {
                      width: 2.4rem;
                      height: 2.4rem;

                      @media (max-width: 48em) {
                          width: 4rem;
                          height: 4rem;
                      }
                  }

                  &__text {
                      font-size: 1.8rem;
                      font-weight: 400;

                      @media (max-width: 48em) {
                          font-size: 2.8rem;
                          line-height: 4rem;
                      }
                  }

                  &__text__sub {
                      color: #AFB7C5;
                      font-size: 1.2rem;
                      font-weight: 500;

                      @media (max-width: 48em) {
                          font-size: 2.4rem;
                          line-height: 3.2rem;
                      }
                  }

                  &__text__map {
                      display: block;
                      color: #4E7CD7;
                      font-size: 1.6rem;
                      font-weight: 500;
                      text-decoration: underline;
                      transition: color 0.2s;

                      @media (max-width: 48em) {
                          margin-top: 3rem;
                          font-size: 2.8rem;
                          line-height: 4rem;
                      }
                  }

                  &__text__map:hover {
                      color: #4e7cd7ce;


                  }
              }
          }
      }
  }

  &__right {
      width: 66.3rem;
      height: 43.3rem;

      @media (max-width: 48em) {
          width: 100%;
          height: 53.4rem;
      }

      img {
          object-fit: fill;
          height: 100%;
      }
  }
}

.clients {

  .clients-content {
      display: flex;
      gap: 2rem;

      &__left {

          @media (max-width: 48em) {
              display: none;
          }

          &__img-wrapper {
              width: 80rem;
              height: 43.3rem;
          }
      }

      &__right {

          .section-title-btn {
              margin-bottom: 2.2rem;
          }

          &__cards {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-template-rows: repeat(2, 1fr);
              gap: 1.9rem 2rem;

              @media (max-width: 48em) {
                  grid-template-columns: repeat(2, 1fr);
                  grid-template-rows: repeat(3, 1fr);
              }

              &__card {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 0.6rem;
                  width: 25.3rem;
                  height: 17.3rem;
                  border: 1px solid #EFF1F4;
                  border-radius: 0.4rem;

                  @media (max-width: 48em) {
                      width: 33.4rem;
                      height: 35rem;
                  }

                  &__img-wrapper {
                      width: 12.8rem;
                      height: 9rem;

                      @media (max-width: 48em) {
                          width: 22rem;
                          height: 16rem;
                      }
                  }

                  &__text {
                      color: #808081;
                      font-size: 1.6rem;
                      font-weight: 400;
                      line-height: 2rem;
                      text-align: center;
                      text-wrap: balance;

                      @media (max-width: 48em) {
                          font-size: 2.4rem;
                          line-height: 3.2rem;
                      }
                  }
              }
          }
      }
  }
}

.articles {

  .articles-content {
      display: flex;
      gap: 2rem;

      @media (max-width: 48em) {
          flex-direction: column-reverse;
      }

      &__big-banner {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          padding: 2rem;
          width: 80rem;
          height: 60.8rem;
          box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.20);

          @media (max-width: 48em) {
              padding: 3.2rem;
              width: 68.6rem;
          }

          &__main-img-wrapper {
              position: relative;
              margin-bottom: 2rem;
              width: 76rem;
              height: 31.7rem;

              @media (max-width: 48em) {
                  width: 62.2rem;
                  height: 64.4rem;
              }
          }
      }

      &__small-banner-group {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          @media (max-width: 48em) {
              flex-direction: column-reverse;
              gap: 1.6rem;
          }

          &__small-banner {
              display: flex;
              gap: 2.1rem;
              padding: 2rem;
              width: 80rem;
              height: 29.4rem;
              box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.20);

              @media (max-width: 48em) {
                  padding: 3.2rem;
                  width: 68.6rem;
                  height: 64.4rem;
              }

              @media (max-width: 48em) {
                  flex-direction: column;
              }

              &__main-img-wrapper {
                  position: relative;
                  width: 23.6rem;
                  height: 25.4rem;

                  @media (max-width: 48em) {
                      border-radius: 4px;
                  }

                  img {
                      height: 100%;
                      object-fit: cover;
                  }

                  @media (max-width: 48em) {
                      width: 62.2rem;
                      height: 27.2rem;
                      object-fit: fill;
                  }
              }

              .articles-content__banner-content {

                  &__article-name {
                      width: 49.9rem;

                      @media (max-width: 48em) {
                          width: auto;
                      }
                  }

                  &__article-desc {
                      width: 49.9rem;
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                  }
              }
          }
      }

      &__banner-content {
          &__category {
              margin-bottom: 7.5rem;
              width: fit-content;
              color: #808081;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 2.4rem;

              @media (max-width: 48em) {
                  margin-bottom: 2rem;
                  font-size: 2.4rem;
              }
          }

          &__article-name {
              margin-bottom: 1.2rem;
              width: fit-content;
              font-size: 2.8rem;
              font-weight: 600;
              line-height: 3.6rem;

              @media (max-width: 48em) {
                  margin-bottom: 0.8rem;
                  font-size: 3.2rem;
                  line-height: 4rem;
              }
          }

          &__article-desc {
              width: fit-content;
              color: #808081;
              font-size: 1.8rem;
              font-weight: 400;
              line-height: 2.4rem;

              @media (max-width: 48em) {
                  font-size: 2.8rem;
                  line-height: 4rem;
                  display: -webkit-box;
                  -webkit-line-clamp: 3;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
              }
          }
      }

      .articles-content__banner__brand-wrapper {
          position: absolute;
          top: 2rem;
          left: 2rem;
          width: 11.5rem;
          height: 4rem;
      }
  }
}

section:not(:first-of-type) {
  margin-top: 13rem;
}

section {
  

  @media (max-width: 48em) {
      margin-top: 16rem;
  }

  .container {
      .section-title-btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5.1rem;

          &__title {
              font-size: 4rem;
              font-weight: 500;
              line-height: 4.6rem;

              @media (max-width: 48em) {
                  font-size: 4.8rem;
                  line-height: 5.6rem;
              }
          }
      }
  }
}



.main-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  color: #4E7CD7;

  @media (max-width:48em) {
      margin: 0 auto;
      gap: 0.8rem;
  }

  &__text {
      font-size: 1.8rem;
      width: fit-content;

      @media (max-width: 48em) {
          font-size: 2.8rem;
      }
  }

  &__arrow {
      width: 2.4rem;
      height: 2.4rem;

      @media (max-width: 48em) {
          width: 1.0896rem;
          height: 2.3334rem;
      }
  }
}

.main-btn-link {
  @media (max-width: 48em) {
      display: none;
  }
}

.main-btn-link_mobile {
  display: none;

  @media (max-width: 48em) {
      display: flex;
      margin-top: 5rem;
  }
}

svg {
  width: 100%;
  height: 100%;
}

.fav-icon_checked {
  svg {
      fill: black;


  }
}
