.hero {
  margin-top: 0;

  .hero-top {
    display: flex;
    gap: 2rem;

    &__big-banner {
      position: relative;
      padding: 15.7rem 0 9.7rem 5rem;
      width: 107.4rem;
      height: 51rem;
      background: radial-gradient(
          124.62% 80.97% at 31.56% 47.16%,
          rgba(255, 255, 255, 0) 0%,
          rgba(175, 183, 197, 0.2) 77.19%
        ),
        #eff1f4;

      .big-banner__top-text {
        margin-bottom: 1.6rem;
        width: 50.3rem;
        font-size: 4rem;
        line-height: 4.6rem;
        font-weight: 500;
      }

      .big-banner__bottom-text {
        margin-bottom: 4rem;
        width: 40.5rem;
        font-size: 1.8rem;
        line-height: 2.4rem;
        font-weight: 400;
      }

      .big-banner__btn {
        padding: 1.8rem 2.4rem;
        font-size: 1.8rem;
        font-weight: 600;
      }

      .big-banner__img-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 51rem;

        img {
          object-fit: fill;
          height: 100%;
        }
      }
    }

    &__small-banners-group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;

      .small-banner {
        padding: 1.6rem 0 0 1.6rem;
        width: 25.3rem;
        height: 24.5rem;
        border: 1px solid #eff1f4;
        border-radius: 0.4rem;
        transition: background-color 0.2s;

        &__img-wrapper {
          margin-bottom: 4rem;
          width: 5.7rem;
          height: 5.7rem;
        }

        &__top-text {
          margin-bottom: 1.2rem;
          font-size: 1.8rem;
          font-weight: 600;
        }

        &__bottom-text {
          color: #808081;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 2rem;
        }
      }

      .small-banner:hover {
        background-color: #eff1f4;
      }
    }
  }

  .hero-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;

    &__brand-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25.3rem;
      height: 14.9rem;
      border: 1px solid #eff1f4;
      border-radius: 0.4rem;

      .brand-link__img-wrapper {
        width: 17.5rem;

        img {
          filter: grayscale(1);
          transition: filter 0.2s;
        }
      }
    }

    &__brand-link:hover {
      img {
        filter: grayscale(0);
      }
    }

    &__all-brands-link {
      width: 25.3rem;
      height: 14.9rem;
    }
  }
}

.about {
  .about-content__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4.2rem 1.9rem;

    &__link {
      display: flex;
      align-items: center;

      .wrapper__link__img-wrapper__background {
        padding: 2rem 2rem 2.1rem 2.1rem;
        width: fit-content;
        border-radius: 0.4rem;

        .wrapper__link__img-wrapper {
          width: 4.8rem;
          height: 4.8rem;
        }
      }

      .wrapper__link__img-wrapper__background_orange {
        background: #ffc700;
      }

      .wrapper__link__img-wrapper__background_green {
        background: #8ad74e;
      }

      .wrapper__link__img-wrapper__background_violet {
        background: #ae47ff;
      }

      .wrapper__link__img-wrapper__background_blue {
        background: #4e7cd7;
      }

      .wrapper__link__text-wrapper {
        display: flex;
        align-items: center;
        padding-left: 1.6rem;
        width: 43.8rem;
        height: 8rem;
        background: #ffffff;
        box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.25);

        .link__text-wrapper__text {
          text-wrap: pretty;
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 2.4rem;
        }
      }
    }
  }
}

.special {
  &__main {
    flex: 1;

    &__cards {
      display: flex;
      gap: 1.9rem;
    }
  }
}

.target {
  .target-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 6rem;
      width: 52.6rem;
      box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.2);

      &__text {
        font-size: 2.8rem;
        font-weight: 700;
      }

      &__img-wrapper {
        width: 19.2rem;
        height: 18.7rem;
      }
    }
  }
}

.banner {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 42.8rem;
    background: url(../../assets/images/main/banner-section.webp);
    background-size: 100% 100%;

    .banner-text {
      max-width: 77.5rem;
      font-size: 4rem;
      font-weight: 500;
      line-height: 4.6rem;
      text-align: center;
    }

    .banner-btn {
      padding: 1.8rem 2.4rem;
      font-size: 1.8rem;
    }
  }
}

.recommend {
  .recommend-content {
    display: flex;
    gap: 2rem;
  }

  .recommend-content__blocks-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
  }

  .recommend-content__block__brand {
    color: #4e7cd7;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  .recommend-content__block__text-block__title {
    margin-bottom: 0.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.4rem;
  }

  .recommend-content__block_big {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 39rem;
    height: 49.2rem;
    box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.2);

    .recommend-content__block__text-block__text {
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .recommend-content__block__img-wrapper {
      width: 35rem;
      height: 20.4rem;
    }
  }

  .recommend-content__block_big:first-child {
    .recommend-content__block__img-wrapper {
      margin-top: 2rem;
    }
  }

  .recommend-content__block_big:last-child {
    .recommend-content__block__img-wrapper {
      margin-bottom: 2rem;
    }
  }

  .recommend-content__block {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    width: 39rem;
    height: 23.6rem;
    box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.2);

    .recommend-content__block__img-wrapper {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 9.7rem;
      height: 7.6rem;
    }

    .recommend-content__block__text-block__text {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .recommend-content__block__text-block__text {
    color: #808081;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
}

.company {
  .container {
    display: flex;
    gap: 15.6rem;

    .company__left {
      width: 52.7rem;

      .section-title-btn__title {
        margin-bottom: 4rem;
      }

      .company__img-wrapper {
        margin-top: 10rem;
        width: 52.7rem;
        height: 30.1rem;
        border-radius: 0.4rem;
      }
    }

    .company__text {
      color: #808081;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.4rem;
    }

    .company__right {
      .company__img-wrapper {
        margin-bottom: 3rem;
        width: 93.7rem;
        height: 38.1rem;
        border-radius: 0.4rem;
      }

      .company__text {
        width: 80rem;
      }

      .company__right__btn {
        margin-top: 4rem;
        padding: 1.8rem 2.4rem;
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
  }
}

.consult {
  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
  }

  &__left {
    .section-title-btn__title {
      margin-bottom: 5rem;
      font-size: 2.8rem;
      font-weight: 600;
      line-height: 4.6rem;
    }

    .consult__left__form {
      display: flex;
      flex-direction: column;
      width: 52.7rem;

      &__name {
        margin-bottom: 3.2rem;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.4rem;
      }

      &__input {
        height: 5.6rem;
        padding: 0 1.6rem 0 1.6rem;
        background: #eff1f4;
        border-radius: 0.4rem;
        font-size: 1.8rem;
        font-weight: 400;
        color: #808081;
      }

      &__input {
        margin-bottom: 2rem;
      }

      &__input::placeholder {
        color: #afb7c5;
      }

      .btn_blue {
        margin-top: 2rem;
        padding: 1.8rem 3.1rem;
        font-size: 1.8rem;
        font-weight: 600;
        width: fit-content;
      }
    }
  }

  &__middle {
    z-index: 2;
    position: absolute;
    top: 5.5rem;
    right: 41rem;
    padding: 4rem;
    background: #ffffff;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.2);

    &__contacts {
      .middle__contacts__title {
        margin-bottom: 4rem;
        font-size: 2.4rem;
        font-weight: 400;
      }

      .middle__contacts__links {
        display: flex;
        flex-direction: column;
        gap: 2.8rem;

        .contacts__link {
          display: flex;
          gap: 1.6rem;

          &__img-wrapper {
            width: 2.4rem;
            height: 2.4rem;
          }

          &__text {
            font-size: 1.8rem;
            font-weight: 400;
          }

          &__text__sub {
            color: #afb7c5;
            font-size: 1.2rem;
            font-weight: 500;
          }

          &__text__map {
            display: block;
            color: #4e7cd7;
            font-size: 1.6rem;
            font-weight: 500;
            text-decoration: underline;
            transition: color 0.2s;
          }

          &__text__map:hover {
            color: #4e7cd7ce;
          }
        }
      }
    }
  }

  &__right {
    width: 66.3rem;
    height: 43.3rem;

    img {
      object-fit: fill;
    }
  }
}

.clients {
  .clients-content {
    display: flex;
    gap: 2rem;

    &__left {
      &__img-wrapper {
        width: 80rem;
        height: 43.3rem;
      }
    }

    &__right {
      .section-title-btn {
        margin-bottom: 2.2rem;
      }

      &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.9rem 2rem;

        &__card {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.6rem;
          width: 25.3rem;
          height: 17.3rem;
          border: 1px solid #eff1f4;
          border-radius: 0.4rem;

          &__img-wrapper {
            width: 12.8rem;
            height: 9rem;
          }

          &__text {
            color: #808081;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2rem;
            text-align: center;
            text-wrap: balance;
          }
        }
      }
    }
  }
}

.articles {
  .articles-content {
    display: flex;
    gap: 2rem;

    &__big-banner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding: 2rem;
      width: 80rem;
      height: 60.8rem;
      box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.2);

      &__main-img-wrapper {
        position: relative;
        margin-bottom: 2rem;
        width: 76rem;
        height: 31.7rem;
      }
    }

    &__small-banner-group {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &__small-banner {
        display: flex;
        gap: 2.1rem;
        padding: 2rem;
        width: 80rem;
        height: 29.4rem;
        box-shadow: 0px 4px 60px 0px rgba(175, 183, 197, 0.2);

        &__main-img-wrapper {
          position: relative;
          width: 23.6rem;
          height: 25.4rem;
        }

        .articles-content__banner-content {
          &__article-name {
            width: 49.9rem;
          }

          &__article-desc {
            width: 49.9rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }

    &__banner-content {
      &__category {
        margin-bottom: 7.5rem;
        width: fit-content;
        color: #808081;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.4rem;
      }

      &__article-name {
        margin-bottom: 1.2rem;
        width: fit-content;
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 3.6rem;
      }

      &__article-desc {
        width: fit-content;
        color: #808081;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.4rem;
      }
    }

    .articles-content__banner__brand-wrapper {
      position: absolute;
      top: 2rem;
      left: 2rem;
      width: 11.5rem;
      height: 4rem;
    }
  }
}

section {
  margin-top: 13rem;
}

.section-title-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.1rem;

  &__title {
    font-size: 4rem;
    font-weight: 500;
  }
}

.main-btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #4e7cd7;

  &__text {
    font-size: 1.8rem;
  }

  &__arrow {
    width: 2.4rem;
    height: 2.4rem;
  }
}

svg {
  width: 100%;
  height: 100%;
}

.fav-icon_checked {
  svg {
    fill: black;
  }
}
