<footer class="footer">
    <div class="container">
        <div class="footer-content footer-content--desk">
            <div class="footer-content__block">
                <div class="footer-content__block__title">
                    Контактная информация
                </div>
                <div class="footer-content__block__link">
                    <div class="contact__middle__contacts">
                        <div class="middle__contacts__title">
                            Контактная информация
                        </div>
                        <adress class="middle__contacts__links">
                            <div class="contacts__link">
                                <div class="contacts__link__img-wrapper">
                                    <img src="./assets/images/main/contacts-phone.svg" alt="">
                                </div>
                                <div class="contacts__link__text-wrapper">
                                    <a href="tel:+78003338831" class="contacts__link__text">
                                        8 (800) 333-88-31
                                    </a>
                                    <div class="contacts__link__text__sub">
                                        Пн-пт 09:00-18:00
                                    </div>
                                </div>
                            </div>
                            <div class="contacts__link">
                                <div class="contacts__link__img-wrapper">
                                    <img src="./assets/images/main/contacts-mail.svg" alt="">
                                </div>
                                <a href="" class="contacts__link__text">
                                    stolovayaaru@bk.ru
                                </a>
                            </div>
                            <div class="contacts__link">
                                <div class="contacts__link__img-wrapper">
                                    <img src="./assets/images/main/contacts-geo.svg" alt="">
                                </div>
                                <div class="contacts__link__text-wrapper">
                                    <a href="" class="contacts__link__text">
                                        109428, Москва,Большая Семеновская 43с2
                                    </a>
                                </div>
                            </div>
                        </adress>
                    </div>
                    <button class="footer-content__block__link__btn btn_blue" href="">Заказать звонок</button>
                    <a href="" class="footer-content__block__link__pp">
                        <div class="footer-content__block__link__pp__img-wrapper">
                            <img src="../assets/images/footer/pp_logo_ny 1.png" alt="">
                        </div>
                        <span class="footer-content__block__link__pp__text">Мы на портале поставщиков</span>
                    </a>
                    <a class="logo-link" href="">
                        <div class="logo-img-container">
                            <img class="logo-img" src="../assets/images/header/logo.svg" alt="">
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer-content__block">
                <div class="footer-content__block__title">
                    Информация
                </div>
                <ul class="footer-content__block__list">
                    <li class="footer-content__block__list__item">
                        <a href=""> Компания</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Проектирование</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Застройщикам</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Таблет питание</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Портфолио</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Доставка и оплата</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Сервис</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Гос.заказчикам</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href=""> Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="footer-content__block">
                <div class="footer-content__block__title">
                    Оборудование
                </div>
                <ul class="footer-content__block__list">
                    <li class="footer-content__block__list__item">
                        <a href="">Тепловое</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Холодильное</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Электромеханическое</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Посудомоечное</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Линии раздачи</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Нейтральное</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для фаст фуда</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для залов</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Вспомогательное</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для магазинов</a>
                    </li>

                </ul>
            </div>
            <div class="footer-content__block">
                <div class="footer-content__block__title">
                    Предложения
                </div>
                <ul class="footer-content__block__list">
                    <li class="footer-content__block__list__item">
                        <a href="">Детским садам и школам</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для кондитерских</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для пиццерий</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для магазинов</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для буфетов</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для пищеблоков</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для кафе</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Для горячих цехов</a>
                    </li>
                    <li class="footer-content__block__list__item">
                        <a href="">Все предложения</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-content footer-content--mobile">
            <div class="footer-content--mobile__top">
                <a class="logo-link" href="">
                    <div class="logo-img-container">
                        <img class="logo-img" src="../assets/images/header/logo.svg" alt="">
                    </div>
                </a>
                <button class="footer-content__block__link__btn btn_blue" href="">Заказать звонок</button>
            </div>
            <div class="footer-content__block-group">
                <div class="footer-content__block">
                    <div class="footer-content__block__title">
                        Контактная информация
                    </div>
                    <div class="footer-content__block__link footer-content__block__list footer--active">
                        <div class="contact__middle__contacts">
                            <adress class="middle__contacts__links">
                                <div class="contacts__link footer-content__block__list__item">
                                    <div class="contacts__link__img-wrapper">
                                        <img src="./assets/images/main/contacts-phone.svg" alt="">
                                    </div>
                                    <div class="contacts__link__text-wrapper">
                                        <a href="tel:+78003338831" class="contacts__link__text">
                                            8 (800) 333-88-31
                                        </a>
                                        <div class="contacts__link__text__sub">
                                            Пн-пт 09:00-18:00
                                        </div>
                                    </div>
                                </div>
                                <div class="contacts__link footer-content__block__list__item">
                                    <div class="contacts__link__img-wrapper">
                                        <img src="./assets/images/main/contacts-mail.svg" alt="">
                                    </div>
                                    <a href="" class="contacts__link__text">
                                        stolovayaaru@bk.ru
                                    </a>
                                </div>
                                <div class="contacts__link footer-content__block__list__item">
                                    <div class="contacts__link__img-wrapper">
                                        <img src="./assets/images/main/contacts-geo.svg" alt="">
                                    </div>
                                    <div class="contacts__link__text-wrapper">
                                        <a href="" class="contacts__link__text">
                                            109428, Москва,Большая Семеновская 43с2
                                        </a>
                                    </div>
                                </div>
                            </adress>
                        </div>
                    </div>
                </div>
                <div class="footer-content__block">
                    <div class="footer-content__block__title">
                        Информация
                    </div>
                    <ul class="footer-content__block__list">
                        <li class="footer-content__block__list__item">
                            <a href=""> Компания</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Проектирование</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Застройщикам</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Таблет питание</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Портфолио</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Доставка и оплата</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Сервис</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Гос.заказчикам</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href=""> Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-content__block">
                    <div class="footer-content__block__title">
                        Оборудование
                    </div>
                    <ul class="footer-content__block__list">
                        <li class="footer-content__block__list__item">
                            <a href="">Тепловое</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Холодильное</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Электромеханическое</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Посудомоечное</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Линии раздачи</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Нейтральное</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для фаст фуда</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для залов</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Вспомогательное</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для магазинов</a>
                        </li>

                    </ul>
                </div>
                <div class="footer-content__block">
                    <div class="footer-content__block__title">
                        Предложения
                    </div>
                    <ul class="footer-content__block__list">
                        <li class="footer-content__block__list__item">
                            <a href="">Детским садам и школам</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для кондитерских</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для пиццерий</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для магазинов</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для буфетов</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для пищеблоков</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для кафе</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Для горячих цехов</a>
                        </li>
                        <li class="footer-content__block__list__item">
                            <a href="">Все предложения</a>
                        </li>
                    </ul>
                </div>
            </div>
            <a href="" class="footer-content__block__link__pp">
                <div class="footer-content__block__link__pp__img-wrapper">
                    <img src="../assets/images/footer/pp_logo_ny 1.png" alt="">
                </div>
                <span class="footer-content__block__link__pp__text">Мы на портале поставщиков</span>
            </a>
        </div>
        <div class="footer-copyright">
            <div class="footer-copyright__text">Copiright © 2023 ООО «Столовые решения»</div>
            <a href="" class="footer-copyright__rd">
                <div class="footer-copyright__rd__img-wrapper">
                    <img src="../assets/images/footer/rd-logo-mobile.svg" alt="">
                </div>
            </a>
        </div>
    </div>
</footer>