<header class="header">
  <div class="header-top">
    <div class="container">
      <ul class="header-top__info-list">
        <li class="header-top__info-list__item"><a href="#">Компания</a></li>
        <li class="header-top__info-list__item"><a href="#">Портфолио</a></li>
        <li class="header-top__info-list__item"><a href="#">Проектирование</a></li>
        <li class="header-top__info-list__item"><a href="#">Застройщикам</a></li>
        <li class="header-top__info-list__item"><a href="#">Гос.Заказчикам</a></li>
        <li class="header-top__info-list__item"><a href="#">Таблет-Питание</a></li>
        <li class="header-top__info-list__item"><a href="#">Доставка и оплата</a></li>
        <li class="header-top__info-list__item"><a href="#">Сервис</a></li>
        <li class="header-top__info-list__item"><a href="#">Контакты</a></li>
      </ul>
      <ul class="header-top__contacts-list">
        <li class="header-top__contacts-list__item">
          <div class="contacts-list__item__img-container">
            <img src="../assets/images/mail-icon.svg" alt="Почта">
          </div>
          <a href="mailto:Info@stolovaya.ru">Info@stolovaya.ru</a>
        </li>
        <li class="header-top__contacts-list__item">
          <div class="contacts-list__item__img-container">
            <img src="../assets/images/phone-icon.svg" alt="Телефон">
          </div>
          <a href="tel:+78003338831">(800) 333-88-31</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container header-middle">
    <a class="logo-link" href="">
      <div class="logo-img-container">
        <img class="logo-img" src="../assets/images/logo.svg" alt="">
      </div>
      <div class="logo-text">Столовые решения</div>
    </a>
    <button class="header-middle__catalog-button btn_blue">
      <div class="catalog-btn__img-container">
        <img src="../assets/images/catalog-btn.svg" alt="">
      </div>
      <div class="catalog-btn__text">Каталог</div>
    </button>
    <form class="header-middle__search-container">
      <div class="select-wrapper">
        <button class="select-btn">
          <img src="../assets/images/select-btn.svg" alt="">
        </button>
        <input class="search-select" type="text" name="" id="" value="Все категории" disabled>
        <ul class="search-select disabled" name="category" id="category">
          <li class="search-select__option" value="">Все категории</li>
          <li class="search-select__option" value="">Тепловое</li>
          <li class="search-select__option" value="">Холодильное</li>
          <li class="search-select__option" value="">Электромеханическое</li>
          <li class="search-select__option" value="">Посудомоечное</li>
          <li class="search-select__option" value="">Хлебопекарное</li>
          <li class="search-select__option" value="">Линии раздач</li>
          <li class="search-select__option" value="">Нейтральное</li>
          <li class="search-select__option" value="">Для фастфуда</li>
          <li class="search-select__option" value="">Для зала</li>
          <li class="search-select__option" value="">Вспомогательное</li>
          <li class="search-select__option" value="">Для магазинов</li>
        </ul>
      </div>
      <input class="search-input" type="search" name="search" id="search" placeholder="Поиск товаров">
      <button class="search-btn btn_blue"><img src="../assets/images/search-btn.svg" alt="Поиск"></button>
    </form>
    <div class="header-middle__btn-group">
      <button class="btn-group__call-btn btn_blue">Заказать звонок</button>
      <button class="btn-group__cart-btn">
        <div class="cart-btn__img-container"><img src="../assets/images/cart-btn.svg" alt=""></div>
        <div class="btn-group__btn-text">Корзина</div>
      </button>
    </div>
  </div>
  <div class="container header-bottom">
    <ul class="header-bottom__list">
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Кондитерские</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Мини-пекарни</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Пищеблок</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Кофейни</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Кондитерская</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Блинная</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Бар</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Кафе</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Ресторан залов</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Вспомогательное</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">Для магазинов</a>
      </li>
      <li class="header-bottom__list__item">
        <a href="" class="list__item__link">blank</a>
      </li>
    </ul>
  </div>
</header>