<div class="portfolio-swiper">
    <div class="portfolio-swiper__top">
        <div class="portfolio-swiper__title">Портфолио</div>
        <div class="portfolio-swiper__btn desktop">
            <button class="btn btn__primary btn__with-icon">
                <span>Все проекты</span>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 15" fill="none">
                        <path
                            d="M0.707031 14.293V0.292969L7.00003 6.58597C7.1875 6.7735 7.29282 7.02781 7.29282 7.29297C7.29282 7.55813 7.1875 7.81244 7.00003 7.99997L0.707031 14.293Z"
                            fill="white"
                        />
                    </svg>
                </div>
            </button>
        </div>
    </div>
    <div class="swiper swiper-portfolio">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#!" class="card-portfolio">
                    <div class="card-portfolio__img">
                        <img src="./assets/images/about/portfolio-1.jpg" alt="" />
                    </div>
                    <div class="card-portfolio__text">
                        <div class="card-portfolio__title">Буфет Московского театра детской книги "Волшебная Лампа".</div>
                        <div class="card-portfolio__address">Москва, Сущевская ул, д. 25 стр. 5</div>
                        <div class="card-portfolio__link">
                            <button class="btn btn__details btn__transparent btn__with-icon">
                                <span>Подробнее</span>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 15" fill="none">
                                        <path
                                            d="M0.707031 14.293V0.292969L7.00003 6.58597C7.1875 6.7735 7.29282 7.02781 7.29282 7.29297C7.29282 7.55813 7.1875 7.81244 7.00003 7.99997L0.707031 14.293Z"
                                            fill="#4E7CD7"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-portfolio">
                    <div class="card-portfolio__img">
                        <img src="./assets/images/about/portfolio-2.jpg" alt="" />
                    </div>
                    <div class="card-portfolio__text">
                        <div class="card-portfolio__title">Столовая "Государственного института русского языка им. А.С. Пушкина г.</div>
                        <div class="card-portfolio__address">Москва, ул. Академика Волгина, 6, Москва</div>
                        <div class="card-portfolio__link">
                            <button class="btn btn__details btn__transparent btn__with-icon">
                                <span>Подробнее</span>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 15" fill="none">
                                        <path
                                            d="M0.707031 14.293V0.292969L7.00003 6.58597C7.1875 6.7735 7.29282 7.02781 7.29282 7.29297C7.29282 7.55813 7.1875 7.81244 7.00003 7.99997L0.707031 14.293Z"
                                            fill="#4E7CD7"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-portfolio">
                    <div class="card-portfolio__img">
                        <img src="./assets/images/about/portfolio-1.jpg" alt="" />
                    </div>
                    <div class="card-portfolio__text">
                        <div class="card-portfolio__title">Буфет Московского театра детской книги "Волшебная Лампа".</div>
                        <div class="card-portfolio__address">Москва, Сущевская ул, д. 25 стр. 5</div>
                        <div class="card-portfolio__link">
                            <button class="btn btn__details btn__transparent btn__with-icon">
                                <span>Подробнее</span>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 15" fill="none">
                                        <path
                                            d="M0.707031 14.293V0.292969L7.00003 6.58597C7.1875 6.7735 7.29282 7.02781 7.29282 7.29297C7.29282 7.55813 7.1875 7.81244 7.00003 7.99997L0.707031 14.293Z"
                                            fill="#4E7CD7"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-portfolio">
                    <div class="card-portfolio__img">
                        <img src="./assets/images/about/portfolio-2.jpg" alt="" />
                    </div>
                    <div class="card-portfolio__text">
                        <div class="card-portfolio__title">Столовая "Государственного института русского языка им. А.С. Пушкина г.</div>
                        <div class="card-portfolio__address">Москва, ул. Академика Волгина, 6, Москва</div>
                        <div class="card-portfolio__link">
                            <button class="btn btn__details btn__transparent btn__with-icon">
                                <span>Подробнее</span>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 15" fill="none">
                                        <path
                                            d="M0.707031 14.293V0.292969L7.00003 6.58597C7.1875 6.7735 7.29282 7.02781 7.29282 7.29297C7.29282 7.55813 7.1875 7.81244 7.00003 7.99997L0.707031 14.293Z"
                                            fill="#4E7CD7"
                                        />
                                    </svg>
                                </div>
                            </button>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="swiper-controls">
            <button class="swiper-button-prev btn__square">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 19" fill="none">
                    <path
                        d="M8.86651 18.1162L1.00026 10.25C0.765922 10.0156 0.634277 9.69767 0.634277 9.36621C0.634277 9.03476 0.765922 8.71687 1.00026 8.48246L8.86651 0.616211V18.1162Z"
                        fill="#8AD74E"
                    />
                </svg>
            </button>
            <button class="swiper-button-next btn__square">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 19" fill="none">
                    <path d="M0.134033 18.1162V0.616211L8.00028 8.48246C8.23462 8.71687 8.36626 9.03476 8.36626 9.36621C8.36626 9.69767 8.23462 10.0156 8.00028 10.25L0.134033 18.1162Z" fill="white" />
                </svg>
            </button>
        </div>
    </div>
    <div class="portfolio-swiper__btn mobile">
        <button class="btn btn__primary btn__with-icon">
            <span>Все проекты</span>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 15" fill="none">
                    <path d="M0.707031 14.293V0.292969L7.00003 6.58597C7.1875 6.7735 7.29282 7.02781 7.29282 7.29297C7.29282 7.55813 7.1875 7.81244 7.00003 7.99997L0.707031 14.293Z" fill="white" />
                </svg>
            </div>
        </button>
    </div>
</div>