<section class="review-swiper">
    <div class="review-swiper__title">Отзывы клиентов</div>
    <div class="swiper swiper-review">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#!" class="card-review">
                    <img src="./assets/images/tablet/review-1.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-review">
                    <img src="./assets/images/tablet/review-1.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-review">
                    <img src="./assets/images/tablet/review-1.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-review">
                    <img src="./assets/images/tablet/review-1.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-review">
                    <img src="./assets/images/tablet/review-1.jpg" alt="">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#!" class="card-review">
                    <img src="./assets/images/tablet/review-1.jpg" alt="">
                </a>
            </div>
        </div>

        <div class="swiper-controls">
            <button class="swiper-button-prev btn__square">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 19" fill="none">
                    <path
                        d="M8.86651 18.1162L1.00026 10.25C0.765922 10.0156 0.634277 9.69767 0.634277 9.36621C0.634277 9.03476 0.765922 8.71687 1.00026 8.48246L8.86651 0.616211V18.1162Z"
                        fill="#8AD74E"
                    />
                </svg>
            </button>
            <button class="swiper-button-next btn__square">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9 19" fill="none">
                    <path d="M0.134033 18.1162V0.616211L8.00028 8.48246C8.23462 8.71687 8.36626 9.03476 8.36626 9.36621C8.36626 9.69767 8.23462 10.0156 8.00028 10.25L0.134033 18.1162Z" fill="white" />
                </svg>
            </button>
        </div>
    </div>
</section>
