<section class="contact">
    <div class="container">
        <div class="contact__left">
            <div class="contact__left__title">НУЖНА КОНСУЛЬТАЦИЯ СПЕЦИАЛИСТА?</div>
            <form class="contact__left__form" action="">
                <p class="contact__left__form__name">Оставьте свой номер телефона и наш сотрудник свяжется с
                    вами в
                    ближайшее время.</p>
                <input class="contact__left__form__input" type="text" name="" id="" placeholder="Имя">
                <input class="contact__left__form__input" type="tel" name="" id="" placeholder="Телефон"
                    value="+7(458)-563-52-52">
                <button class="btn btn__primary" type="submit">Отправить</button>
            </form>
        </div>
        <div class="contact__middle">
            <div class="contact__middle__contacts">
                <div class="middle__contacts__title">
                    Контактная информация
                </div>
                <adress class="middle__contacts__links">
                    <div class="contacts__link">
                        <div class="contacts__link__img-wrapper">
                            <img src="./assets/images/main/contacts-phone.svg" alt="">
                        </div>
                        <div class="contacts__link__text-wrapper">
                            <a href="tel:+78003338831" class="contacts__link__text">
                                8 (800) 333-88-31
                            </a>
                            <div class="contacts__link__text__sub">
                                Пн-пт 09:00-18:00
                            </div>
                        </div>
                    </div>
                    <div class="contacts__link">
                        <div class="contacts__link__img-wrapper">
                            <img src="./assets/images/main/contacts-mail.svg" alt="">
                        </div>
                        <a href="" class="contacts__link__text">
                            stolovayaaru@bk.ru
                        </a>
                    </div>
                    <div class="contacts__link">
                        <div class="contacts__link__img-wrapper">
                            <img src="./assets/images/main/contacts-geo.svg" alt="">
                        </div>
                        <div class="contacts__link__text-wrapper">
                            <a href="" class="contacts__link__text">
                                109428, Москва,Большая Семеновская 43с2
                            </a>
                            <a class="contacts__link__text__map">
                                Показать на карте
                            </a>
                        </div>
                    </div>
                </adress>
            </div>
        </div>
        <div class="contact__right">
            <img src="./assets/images/main/consult-img.png" alt="">
        </div>
    </div>
</section>