<section class="contact">
    <div class="container">
        <div class="contact__left">
            <div class="contact__left__title">Связаться с нами</div>
            <form class="contact__left__form" action="">
                <p class="contact__left__form__name">Оставьте свой номер телефона и наш сотрудник свяжется с вами в ближайшее время.</p>
                <label class="request__input">
                    <input type="text" />
                    <span class="request__input-placeholder">Ваше имя</span>
                </label>
                <label class="request__input">
                    <input type="text" />
                    <span class="request__input-placeholder">+7(458)-563-52-52</span>
                </label>
                <button class="btn btn__primary" type="submit">Отправить</button>
            </form>
        </div>
        <div class="contact__middle contact__middle--requisites">
            <div class="contact__middle__contacts">
                <div class="middle__contacts__title middle__contacts__title--requisites">Реквизиты компании</div>
                <div class="middle__contacts__desc">ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ГРУППА КОМПАНИЙ «СТРОИТЕЛЬНОЕ УПРАВЛЕНИЕ-555»</div>
                <div class="middle__contacts__codes">
                    <span class="code-title">ИНН</span><span class="code">7722810367</span> <span class="code-title">ОГРН</span><span class="code">1137746479947</span>
                    <span class="code-title">КПП</span><span class="code">771801001</span>
                </div>
            </div>
        </div>
        <div class="contact__right">
            <img src="./assets/images/main/consult-img.png" alt="" />
        </div>
    </div>
</section>